body {
  background-color: #f8a56d;
}

.main {
  height: 100%;
  width: 100%;
  background-color: #f8a56d;
}

.title {
  text-align: center;
  width: 100%;
  padding: 2%;
  background-color: #f88e6d;
  color: #efefef;
}

.bottom {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
}